    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="tool-bar-heading">Fidem</span>
        <span class="tool-bar-small-heading"> Education Network</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="tool-bar-text">Logged in as </span>
        <span class="tool-bar-spacer"></span>
        <button mat-icon-button class="tool-bar-button" matTooltip="Home">
          <mat-icon class="tool-bar-icon">home</mat-icon>
        </button>

        <button mat-icon-button class="tool-bar-button" matTooltip="Messages">
          <mat-icon class="tool-bar-icon">email</mat-icon>
        </button>

        <button mat-icon-button class="tool-bar-button" matTooltip="Personal Info">
          <mat-icon class="tool-bar-icon">person</mat-icon>
        </button>

        <button mat-icon-button class="tool-bar-button" matTooltip="Sign out">
          <mat-icon class="tool-bar-icon">power_settings_new</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
