.demo-panel{
  margin: 5px;
}
.tool-bar-spacer{
  flex: 1 1 auto;
  }
.tool-bar-icon{
  align-content: center;
  font-size: 45px;
  }

.tool-bar-button{
  padding: 0px 30px;
  cursor: pointer;
}

.tool-bar-text{
  padding: 0px;
  font-size: 12px;
  align-content: left;
  vertical-align: bottom;
  padding-top:15px;
}

.tool-bar-heading{
  color: grey;
  margin: 0;
  padding: 0px 0px 6px 0px;
  padding-right: 1%;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  letter-spacing: 1px;
}

.tool-bar-small-heading{
  color: grey;
  margin: 0;
  padding: 0px 0px 6px 0px;
  padding-right: %;
  font-size: 15px;
  line-height: 44px;
  letter-spacing: -1px;
  font-weight: bold;
  padding-top:23px;
  letter-spacing: 0px;
}
