.demo-panel{
  margin: 5px;
}
.tool-bar-spacer{
  flex: 1 1 auto;
}

.tool-bar-icon{
  font-size: 15px;
  color: aliceblue;
  vertical-align: bottom;
}

.tool-bar-footer{
  margin-bottom: -10px;

}

.tool-bar-footer-text{
  font-size: 13px;
  padding: 2px;
  color: aliceblue;
  vertical-align: text-top;

}
