<div *ngIf="isReady">

  <div style="margin-top: 5px">
    <mat-grid-list cols="6" rowHeight="6:1">
      <mat-grid-tile ><div class="text-inside-grid">Delivery Date</div></mat-grid-tile>
      <mat-grid-tile ><div class="text-inside-grid-small">GRN #</div></mat-grid-tile>
      <mat-grid-tile ><div class="text-inside-grid-small">Product</div></mat-grid-tile>
      <mat-grid-tile ><div class="text-inside-grid-small">Quantity</div></mat-grid-tile>
      <mat-grid-tile ><div class="text-inside-grid-small">Rate</div></mat-grid-tile>
      <mat-grid-tile ><div class="text-inside-grid-small">Total</div></mat-grid-tile>
      </mat-grid-list>
  </div>

  <div style="margin-top: 2px">
    <div *ngFor="let grn of grnData">
      <mat-grid-list cols="6" rowHeight="8:1">
        <mat-grid-tile ><div class="text-inside-grid">{{grn.receivedDate}}</div></mat-grid-tile>
        <mat-grid-tile ><div class="text-inside-grid-small">{{grn.grnId}}</div></mat-grid-tile>
        <mat-grid-tile ><div class="text-inside-grid-small">{{grn.productName}}</div></mat-grid-tile>
        <mat-grid-tile ><div class="text-inside-grid-small">{{grn.productQuantity}}</div></mat-grid-tile>
        <mat-grid-tile ><div class="text-inside-grid-small">{{grn.productCost}}</div></mat-grid-tile>
        <mat-grid-tile ><div class="text-inside-grid-small">{{grn.productCost * grn.productQuantity}}</div></mat-grid-tile>
       </mat-grid-list>
    </div>
  </div>
</div>
