<form #productForm="ngForm" [formGroup]="productService.productForm" class="product-form" (submit)="onSubmit()">

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="productService.productForm">
        <ng-template matStepLabel>Fill ISBN #</ng-template>
        <mat-form-field>
          <input matInput placeholder="ISBN #" formControlName="isbn" required>
        </mat-form-field>
      <div class="header">
        <div class="button-row">

          <button mat-raised-button matStepperNext type="button" (click)="getProductDetail()">Next</button>
          <button mat-raised-button type="button" (click)="closeForm()">Close</button>
          <span class="fill-remaining-space"></span>
        </div>
      </div>
     </mat-step>
    <mat-step [stepControl]="productService.productForm">
        <ng-template matStepLabel>Fill out Product details</ng-template>
      <div style="padding-left: 5px; font-size: small; color: #5bc85c">
        <label><span>ISBN # : {{productService.productForm.get('isbn').value}}  </span></label>
      </div>
      <div class="row">
        <div class="column middle">
          <div class="controls-container">

        <mat-form-field>
          <input matInput placeholder="Author" formControlName="author" required>
        </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Publisher" formControlName="publisher" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Subject" formControlName="subject" required>
              <mat-icon matSuffix>subject</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Barcode" formControlName="barcode" required>
            </mat-form-field>

          </div>
        </div>
        <div class="column middle_two">
          <div class="controls-container">


            <mat-form-field>
              <mat-select formControlName="languagename" placeholder="Language" required>
                <ng-container *ngFor="let language of productService.languageList">
                  <mat-option [value]="language.language">{{language.language}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-icon matSuffix>language</mat-icon>
              <mat-error>Client Type is required.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="countryid" placeholder="Country" required>
                <ng-container *ngFor="let country of productService.countryList">
                  <mat-option [value]="country.id">{{country.country}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Client Type is required.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Edition" formControlName="edition" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Product Cost" formControlName="productcost" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Retail Price" formControlName="retailprice" required>
            </mat-form-field>

          </div>
        </div>

        <div class="column middle_two">
          <div class="controls-container">
            <mat-form-field>
              <input matInput placeholder="Page Count" formControlName="pagecount" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="paperqualityid" placeholder="Paper Quality" required>
                <ng-container *ngFor="let pagerQualityList of productService.pagerQualityList">
                  <mat-option [value]="pagerQualityList.id">{{pagerQualityList.name}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Client Type is required.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="marketsegmentid" placeholder="Market Segment" required>
                <ng-container *ngFor="let marketSegmentList of productService.marketSegmentList">
                  <mat-option [value]="marketSegmentList.id">{{marketSegmentList.name}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Client Type is required.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="productcategoryid" placeholder="Level" required>
                <ng-container *ngFor="let productcategory of productService.productCategoryList">
                  <mat-option [value]="productcategory.id">{{productcategory.name}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Client Type is required.</mat-error>
            </mat-form-field>



          </div>
        </div>
      </div>

      <div class="header">
        <div class="button-row">
          <button mat-raised-button type="button" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="productService.productForm.invalid">Save</button>
          <button mat-raised-button color="warn" type="reset" (click)="onClear()">Clear</button>
          <button mat-raised-button type="button" color="accent" (click)="closeForm()">Close</button>
          <span class="fill-remaining-space"></span>
         </div>
      </div>
     </mat-step>
  </mat-horizontal-stepper>
</form>
