<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Role Name">
  </mat-form-field>

  <mat-label>Permissions </mat-label>

  <mat-checkbox>Add User</mat-checkbox>


	<mat-checkbox>Delete User</mat-checkbox>

	<mat-checkbox>View User</mat-checkbox>

  <div class="header">
    <div class="button-row">

  <button mat-raised-button color="primary" type="button">Add Role</button>
	<button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">Close</button>
</div>
</div>
</div>
