<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Role Name" value="">
  </mat-form-field>
</div>
<div class="mat-elevation-z8; data-table">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="moduleName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Module Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.moduleName}}</mat-cell>
    </ng-container>
      <ng-container matColumnDef="permissionType">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Permission Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.permissionType}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" style="max-height: 15px"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
 </mat-table>
 <div>
 <button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">Close</button>
 </div>
 <button mat-raised-button color="accent" type="button" (click)="addUserRole">Add Role</button>

</div>