<div class="page-container">
<div class="mat-elevation-z8; data-table; content-wrap">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Login Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="designationname">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Designation</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.designationname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Contact #</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="departmentname">
      <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.departmentname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="addEditUserRole(row.id)" matTooltip="Add Role"><mat-icon>supervisor_account</mat-icon></button>
        <button mat-icon-button (click)="onEdit(row.id)" matTooltip="Edit"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row.id)" matTooltip="Delete"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>

<div>
  <mat-toolbar-row  class="footer">
    <div style="padding-right: 5px">
      <button mat-raised-button class="tool-bar-button" (click)="onCreate()" style="color: darkgreen" matTooltip="Add User">
        Add User
      </button>
    </div>

    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <span class="tool-bar-spacer"></span>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </mat-toolbar-row>

</div>
</div>
