#fullPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.mat-expansion-panel-header-height{
  height: 14px
}
.dashboard-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 540px;
}

.tool-bar-spacer{
  flex: 1 1 auto;
}
.tool-bar-icon{
  align-content: center;
  font-size: large;
}

.mat-toolbar-row{
  height: 40px;
  vertical-align: middle;
}
.tool-bar-button{
  padding: 0px 10px;
  cursor: pointer;
}

.tool-menu-button{
  cursor: pointer;
  align-items: left;
}

.tool-bar-text{
  padding: 0px;
  font-size: 12px;
  align-content: left;
  vertical-align: middle;
  }

.tool-bar-user-text{
  padding-left: 3px;
  font-size: 12px;
  align-content: left;
  vertical-align: middle;
}

.mat-expansion-panel-header.mat-expanded {
  background: #ffdb00;
}

.tool-bar-heading{
  color: #ffdb00;
  margin: 0;
  padding: 0px 0px 6px 0px;
  padding-right: 1%;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  letter-spacing: 4px;
}

.tool-bar-small-heading{
  color: #ffdb00;
  margin: 0;
  padding: 0px 0px 6px 0px;
  padding-right: 1%;
  font-size: 15px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  padding-top:26px;
  letter-spacing: 2px;
}
.mat-action-row{
  height: 20px;
}

.mat-list-item {
  background-color: #ffdb00;
  max-height: min-content;
  vertical-align: middle;
}

a:link, a:visited {
  color: grey;
  text-align: left;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  display: inline-block;
  height: auto;
  font-size: small;
  vertical-align: middle;
}


a:hover, a:active {
  background-color: lightgrey;
}
