<!--
<app-employee-management></app-employee-management>
-->

  <app-header></app-header>

  <mat-drawer-container class="dashboard-container">
      <mat-drawer *ngIf="user.getUserLoggedIn()" mode="side" opened style="width: 20%">
        <mat-toolbar-row style="color: aliceblue; background-color: #283593">
          <span class="tool-bar-text">Logged in as :</span> <h1 class="tool-bar-user-text">{{user.getUserName()}}</h1>
        </mat-toolbar-row>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Procurement
            </mat-expansion-panel-header>
            <mat-action-row>
              <button mat-button="button1"  class="tool-menu-button"><a [routerLink]="['/']"> Feature 1
                <mat-icon style="color: greenyellow">person</mat-icon>
              </a>
              </button>
            </mat-action-row>
            <mat-action-row style="align-content: left">
              <button mat-button="button1"  class="tool-menu-button">Feature 2
                <mat-icon style="color: gold">person</mat-icon>
              </button>
            </mat-action-row>
            <mat-action-row>
              <button mat-button="button1"  class="tool-menu-button">Feature 3
                <mat-icon style="color: blueviolet">person</mat-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Sales
            </mat-expansion-panel-header>

            This the expansion 2 content

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>
              Data Managment
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item><a [routerLink]="['/vendor']">Vendor Management</a></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><a [routerLink]="['/client']">Client Management</a></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><a [routerLink]="['/product']">Product Management</a></mat-list-item>
            </mat-list>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Reports
            </mat-expansion-panel-header>

            This the expansion 2 content

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Accounts
            </mat-expansion-panel-header>

            This the expansion 2 content

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              Admin
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item><a [routerLink]="['/user-management']"> User Management</a></mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

            </mat-expansion-panel>
        </mat-accordion>
      </mat-drawer>

    <mat-drawer-content>
      <div *ngIf="user.getUserLoggedIn()" style="width: 100%">
        <mat-toolbar-row  style="color: aliceblue; background-color: #283593">
          <span>
            <h1 class="tool-bar-user-text">{{user.getComponentName()}}</h1>
          </span>
          <span class="tool-bar-spacer"></span>
          <button mat-icon-button class="tool-bar-button" matTooltip="Home">
            <mat-icon class="tool-bar-icon">home</mat-icon>
          </button>

          <button mat-icon-button class="tool-bar-button" matTooltip="Messages">
            <mat-icon class="tool-bar-icon">email</mat-icon>
          </button>

          <button mat-icon-button class="tool-bar-button" matTooltip="Personal Info">
            <mat-icon class="tool-bar-icon">person</mat-icon>
          </button>

          <button mat-icon-button class="tool-bar-button" matTooltip="Sign out">
            <mat-icon class="tool-bar-icon">power_settings_new</mat-icon>
          </button>

        </mat-toolbar-row>
      </div>
      <div>

          <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

