  <app-header></app-header>

  <mat-drawer-container class="dashboard-container">
      <mat-drawer *ngIf="user.getUserLoggedIn()" mode="side" opened style="width: 17%">
        <mat-toolbar-row style="color: grey; background-color: #ffdb00">
          <span class="tool-bar-text">Logged in as :</span> <h1 class="tool-bar-user-text">{{user.getUserName()}}</h1>
        </mat-toolbar-row>

        <mat-accordion >
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              Procurement
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><li><a [routerLink]="['/purchase-order']">PO Management</a></li></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><li><a [routerLink]="['/inventory']">Inventory Management</a></li></mat-list-item>
              <mat-divider></mat-divider>
              </mat-list>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Sales
            </mat-expansion-panel-header>

            This the expansion 2 content

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>
              Data Management
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item><li><a [routerLink]="['/vendor']">Vendor Management</a></li></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><li><a [routerLink]="['/client']">Client Management</a></li></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><li><a [routerLink]="['/product']">Product Management</a></li></mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Reports
            </mat-expansion-panel-header>

            This the expansion 2 content

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Accounts
            </mat-expansion-panel-header>

            This the expansion 2 content

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              Admin
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item><li><a [routerLink]="['/user-management']"> User Management</a></li></mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

            </mat-expansion-panel>
        </mat-accordion>
      </mat-drawer>

    <mat-drawer-content>
      <div *ngIf="user.getUserLoggedIn()" style="width: 100%">
        <mat-toolbar-row  style="color: grey; background-color: #ffdb00">
          <span>
            <h1 class="tool-bar-user-text">{{user.getComponentName()}}</h1>
          </span>
          <span class="tool-bar-spacer"></span>
          <button mat-icon-button class="tool-bar-button" matTooltip="Home">
            <mat-icon class="tool-bar-icon">home</mat-icon>
          </button>

          <button mat-icon-button class="tool-bar-button" matTooltip="Messages">
            <mat-icon class="tool-bar-icon">email</mat-icon>
          </button>

          <button mat-icon-button class="tool-bar-button" matTooltip="Personal Info">
            <mat-icon class="tool-bar-icon">person</mat-icon>
          </button>

          <button mat-icon-button class="tool-bar-button" matTooltip="Sign out">
            <mat-icon class="tool-bar-icon">power_settings_new</mat-icon>
          </button>

        </mat-toolbar-row>
      </div>
      <div>

          <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

