<mat-horizontal-stepper [linear]="invoiceManagementService.isLinear" #stepper [linear]="invoiceManagementService.isLinear">
  <mat-step [stepControl]="invoiceManagementService.inventoryForm" [editable]="invoiceManagementService.editable">
    <form [formGroup]="invoiceManagementService.inventoryForm">
      <ng-template matStepLabel>Select Vendor</ng-template>

      <mat-form-field>
        <mat-select formControlName="vendorId" placeholder="Select Vendor" required>
          <ng-container *ngFor="let vendor of invoiceManagementService._vendorList">
            <mat-option [value]="vendor.id">{{vendor.name}}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error>Vendor is required.</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button type="button" color="accent" (click)="closeForm()">Close</button>

        <button style="margin-left: 10px"  mat-raised-button matStepperNext type="button" (click)="getGRNList()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="invoiceManagementService.inventoryForm" [editable]="invoiceManagementService.editable">
    <ng-template matStepLabel>Select GRN(s)</ng-template>
    <div>
      <div>
        <mat-table [dataSource]="listData"  matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>GRN #</th>
          <td style="width: 15%" mat-cell *matCellDef="let element"><span class="link"  (click)="showGRNDetails(element.id)">{{element.grnId}}</span></td>
        </ng-container>

        <ng-container matColumnDef="purchaseOrderId">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>PO</th>
          <td style="width: 15%" mat-cell *matCellDef="let element"><span class="link"  (click)="showPurchaseOrder(element.poId)">{{element.purchaseOrderId}}</span></td>
        </ng-container>


        <ng-container matColumnDef="vendorName">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Supplier</th>
          <td style="width: 25%; alignment: left" mat-cell *matCellDef="let element">{{element.vendorName}}</td>
        </ng-container>

        <ng-container matColumnDef="receivedDate">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Received Date</th>
          <td style="width: 15%" mat-cell *matCellDef="let element">{{element.receivedDate}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Amount</th>
          <td style="width: 10%" mat-cell *matCellDef="let element">{{element.amount}}</td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Created By</th>
          <td style="width: 25%" mat-cell *matCellDef="let element">{{element.userName}}</td>
        </ng-container>

        <!-- Checkbox Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Select</th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row.id) : null"
                            [checked]="selection.isSelected(row.id)"
                            [aria-label]="checkboxLabel(row.id)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data.
            </mat-footer-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length === 0)}"></mat-footer-row>

        </mat-table>
      </div>
    </div>
    <div class="footer">
      <div>
        <mat-toolbar-row style="background-color: whitesmoke;">
          <div style="padding-right: 5px">
            <button mat-raised-button type="button" matStepperPrevious>Back</button>
            <button [disabled]="selection.selected.length===0" style="margin-left: 5px"  (click)="showComponents()" mat-raised-button type="button" matStepperNext>Next</button>
            <button mat-raised-button style="margin-left: 5px" type="button" color="accent" (click)="closeForm()">Close</button>
          </div>

          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="user.pageSize"></mat-paginator>
        </mat-toolbar-row>

      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="invoiceManagementService.inventoryForm" [editable]="invoiceManagementService.editable">
    <ng-template matStepLabel>Create Invoice</ng-template>
    <div #vendorComponent></div>

    <div #grnComponent></div>
    <div style="margin-top: 5px">
      <mat-grid-list cols="6" rowHeight="8:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">Other Expenses</div></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">Amount</div></mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="margin-top: 2px">
      <mat-grid-list cols="6" rowHeight="4:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">  <mat-form-field>
          <input matInput >
        </mat-form-field></div></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">  <mat-form-field>
          <input matInput >
        </mat-form-field></div></mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="margin-top: 2px">
      <mat-grid-list cols="6" rowHeight="4:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">  <mat-form-field>
          <input matInput >
        </mat-form-field></div></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">  <mat-form-field>
          <input matInput >
        </mat-form-field></div></mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="margin-top: 2px">
      <mat-grid-list cols="6" rowHeight="4:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">
          <mat-form-field>
          <input matInput>
        </mat-form-field></div></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">
          <mat-form-field>
          <input matInput>
        </mat-form-field></div></mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="margin-top: 2px">
      <mat-grid-list cols="6" rowHeight="8:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">Total Amount</div></mat-grid-tile>
        <mat-grid-tile class="grid-tile"><div class="text-inside-grid-small">Amount</div></mat-grid-tile>
      </mat-grid-list>
    </div>

    <button mat-raised-button type="button" matStepperPrevious (click)="destroyAllComponents()">Back</button>
    <button [disabled]="selection.selected.length===0" style="margin-left: 5px"  mat-raised-button type="button" matStepperNext>Next</button>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Add Inventory</ng-template>

    <button mat-raised-button type="button" matStepperPrevious>Back</button>
    <button [disabled]="selection.selected.length===0" style="margin-left: 5px"  mat-raised-button type="button" matStepperNext>Next</button>

  </mat-step>
</mat-horizontal-stepper>
