/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space{
  flex: 1 1 auto;
}

div.container{
  margin: 10px 20px;
}

.controls-container > * {
  width: 100%;
}

.button-row button{
  margin: 5px;
}
.hide{
  display: none;
}
snack-bar-container.success{
  background-color: #5bc85c;
  color: #fff;
}

snack-bar-container.failure{
  background-color: darkred;
  color: #fff;
}

snack-bar-container.notificatin simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}
