/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space{
  flex: 1 1 auto;
}

div.container{
  margin: 10px 20px;
}

.controls-container > * {
  width: 100%;
}

.button-row button{
  margin: 2px;
}
.hide{
  display: none;
}
snack-bar-container.success{
  background-color: #5bc85c;
  color: #fff;
}

snack-bar-container.failure{
  background-color: darkred;
  color: #fff;
}

snack-bar-container.notificatin simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}

.vertical-line {
  border-left: 2px #fc7169;
  height: 100%;
}


.page-container {
  position: relative;
  min-height: 98vh;
  min-width: 100%;
}
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;            /* Footer height */
}

.link {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.mat-cancel {
  background-color: dimgrey;
  color: #fff;
}
